<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Products</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
      font-family: Arial, sans-serif;
    }
    .container {
      margin-top: 40px;
    }
    .product-card {
      margin-bottom: 30px;
    }
    .product-card img {
      max-width: 100%;
      border-radius: 8px;
    }
  </style>
</head>
<body>
  <div class="text-end mb-4">
  <a href="/auth/logout" class="btn btn-danger">Logout</a>
</div>
  <div class="container">
    <h2 class="mb-4 text-center">Our Products</h2>

    {{#each products}}
      <div class="card product-card">
        <div class="row g-0 align-items-center">
          <div class="col-md-4">
            <img src="{{this.image}}" alt="{{this.title}}" class="img-fluid">
          </div>
          <div class="col-md-8 p-3">
           <h5 class="fw-bold">{{convertToUppercase this.title}}</h5>

            <p><strong>Category:</strong> {{this.category}}</p>
            <p>{{this.description}}</p>
            <p>
              {{#if this.discount}}
                <strong>{{calculateNewPrice this.price this.discount}} EGP</strong>
                <small class="text-muted text-decoration-line-through">{{this.price}} EGP</small>
                <span class="text-danger ms-2">({{this.discount}}% OFF)</span>
              {{else}}
                <strong>{{this.price}} EGP</strong>
              {{/if}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
